main {
    padding: 56px 10% 0
}

.lexopedia-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #fff
}

@media screen and (min-device-width:800px) {
    main {
        padding-top: 48px
    }
}