<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#00000">
    <meta name="msapplication-navbutton-color" content="#00000">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="Lexopedia, words, spelling, meainig, spelling translation, languages, find words, find meaning, find translation, lexopedia, language service, unconventional ideas, linguistics, language tools, word data, ancient languages, resource, unorthodox ideas, accuracy, credibility, linguistic knowledge.">
    <meta name="author" content="cheplagsh">
    <meta name="description" content="Welcome to Lexopedia, where we help you uncover the hidden connections between languages, modern and ancient. Our extensive word database provides a glimpse into the past and the origins of human communication. Join us on this exciting linguistic journey and discover the world of language in all its ancient glory.">
    <meta property="og:title" content="Search across thousands of languages">
    <meta property="og:site_name" content="lexopedia">
    <meta property="og:description" content="Lexopedia is a freely-available linguistic search for meaning or spelling matches across thousands of languages.">
    <meta property="og:image" content="{{ url_for('static', filename='lexopedia-og-banner.png') }}">
    <meta property="og:url" content="https://lexopedia.ru/">
    <title>Lexopedia: Free Linguistic Search </title>
    <link rel="canonical" href="https://lexopedia.ru/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('static', filename='lexopedia_header.css') }}" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='lexopedia_header.js')}}"></script>
    <link href="{{ url_for('static', filename='language_grid.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lexopedia-icon.svg')}}" rel="icon" type="image/svg+xml">
    <link href="/favicon.ico" rel="alternate icon" type="image/x-icon">
</head>
<body>
    <div class="lexopedia-header">
        <a href="/">
            <img src="{{ url_for('static', filename='lexopedia-icon.png') }}" alt="LexopediaLogo" >
          </a>
        <a href="/">
          <img src="{{ url_for('static', filename='lexopedia-logo.png') }}" alt="LexopediaLogo" >
        </a>
        <div class="lexopedia-header-search-bar">
          <input class="lexopedia-header-search-bar-input" type="text" id="lexopedia-header-search-bar-input" placeholder="Search on Lexopedia..." minlength="2" maxlength="14" autocomplete="off">
          <div class="lexopedia-header-search-bar-button-container">
            <div class="lexopedia-header-search-bar-button">
              <p style="margin-top: 2;">Search "searchTerm" for meaning matches...</p>
            </div>
            <div class="lexopedia-header-search-bar-button">
              <p style="margin-top: 2;">Search "searchTerm" for spelling matches...</p>
            </div>
          </div>
        </div>
    </div>
    <div id="progressbar">
        <div></div>
    </div>
    <div class="inside" style="margin-top:  16px;">
      <div class="home-page-grid"> 
        <div class="home-page-block">
          <p style="font-size: 1.66em; color: hsla(0, 0%, 100%, 70%);">
            What is Lexopedia?
          </p>
          <p style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
            Lexopedia is a freely-available linguistic search for meaning or spelling matches across thousands of languages.
          </p>
          <p style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
            It's a non-profit project and if you enjoy using it, please consider donating to our cause at <i><a href="https://www.buymeacoffee.com/lexopedia"
            class="lexopedia__link" style="font-size: larger;">bmc@lexopedia</a>
          </p>
          <p style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
          </i>You can view a list of our generous donors <i><a href="/patrons" class="lexopedia__link" style="font-size: larger;">here</a></i>
          </p>
          <img class= "home-page-image" src="https://www.fatosdesconhecidos.com.br/wp-content/uploads/2018/05/bd_weighing_of_the_heart.jpg"> </img>
        </div>
      </div>

      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>

    </div>
    <footer class="lexopedia-footer">
        <section class="lexopedia-footer--container">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-3"><a href="/">Home</a></div>
                </div>
            </div>
        </section>
    </footer>
    
</body>
</html>