<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#001736">
    <meta name="msapplication-navbutton-color" content="#001736">
    <meta name="apple-mobile-web-app-status-bar-style" content="purple">
    <meta name="description" content="Find words with the same meaning in different languages. Enter a meaning and discover its translation in various languages.">
    <meta name="keywords" content="words, meaning, translation, languages, find words, find meaning, find translation, lexopedia">
    <meta name="author" content="cheplagsh">
    <title>Lexopedia - Lexical Similarities Between Nakh languages and Indoeuropean languages</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lexopedia_header.css') }}" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='lexopedia-link-random-color.js')}}"></script>
    <script defer src="{{ url_for('static', filename='lexopedia_header.js')}}"></script>
    <link href="{{ url_for('static', filename='readable.css') }}" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='lexopedia-link-random-color.js')}}"></script>
    <link href="{{ url_for('static', filename='lexopedia-icon.svg')}}" rel="icon" type="image/svg+xml">
    <link href="/favicon.ico" rel="alternate icon" type="image/x-icon">
</head>
<body>
      <div class="lexopedia-header">
        <a href="/">
            <img src="{{ url_for('static', filename='lexopedia-icon.png') }}" alt="LexopediaLogo" >
          </a>
        <a href="/">
          <img src="{{ url_for('static', filename='lexopedia-logo.png') }}" alt="LexopediaLogo" >
        </a>
        <div class="lexopedia-header-search-bar">
          <input class="lexopedia-header-search-bar-input" type="text" id="lexopedia-header-search-bar-input" placeholder="Search on Lexopedia..." minlength="2" maxlength="14" autocomplete="off">
          <div class="lexopedia-header-search-bar-button-container">
            <div class="lexopedia-header-search-bar-button">
              <p style="margin-top: 2;">Search "searchTerm" for meaning matches...</p>
            </div>
            <div class="lexopedia-header-search-bar-button">
              <p style="margin-top: 2;">Search "searchTerm" for spelling matches...</p>
            </div>
          </div>
        </div>
    </div>
    <div id="progressbar">
        <div></div>
    </div>
    <main style="margin-top: 16px;">
      <p style="font-size: 2.00em; color: hsla(0, 0%, 100%, 70%);"> Similarities bellow represented in this format: Chechen Word, Indo-European language word that we found lexicaly simmilar to the Chechen One, Etymologie of the Indo-European language word.</p>
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) со ("i") , (From Proto-Indo-European) *swé ("self").
      Or from the earlier som, which is (From Proto-Italic) Som - i am, From Proto-Indo-European *h₁ésti.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) сом, асам ("i am"), (From Proto-Italic) Som ("i am"), (From Proto-Italic) Ezom ("i am"), From Proto-Indo-European *h₁ésti. Perfect indicatives from Proto-Indo-European *bʰúHt ("to become"), from *bʰuH-. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) ас, аса - ("i"), (From Umbrian) Esu ("i am"), From Proto-Italic *ezom, from Proto-Indo-European *h₁ésmi ("I am, I exist"). Cognate with Latin sum. Can also be noted that Proto-Balto-Slavic with its *ēź - i, From Proto-Indo-European *éǵh₂. And the descendants are: Latgalian: es, (archaic) as, Latvian: es, Old Lithuanian: eš, Lithuanian: aš, Old Prussian: es, as, Sudovian: as. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вэй ("we"), From Proto-Indo-European *wéy ("we"). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) из ("he, she, it, that, this"), From (Proto Germanic) İz ("he, she, it, they"); 3rd person personal From Proto-Indo-European *ís, *éy. Or Maybe (From Proto-Italic) *is - ("This or that man, he, she, it, they (previously introduced)"). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) де ("do, to do"), From Middle English don, from Old English dōn, from Proto-West Germanic *dōn, from Proto-Germanic *dōną, from Proto-Indo-European *dʰeh₁- ("to put, place, do, make"). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мег, мега, мегана, маго - ("can, to be able, to allow"), (From Old-English) maggan ("can, to be able"), From Proto-West Germanic *magan, from Proto-Germanic *maganą. See there for cognates. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) бу ("to be, exist"), (From Middle English) been ("to be"). The forms beginning with b- come from Old English bēon ("to be, become"), from Proto-Germanic *beuną ("to be, exist, come to be, become"), from Proto-Indo-European *bʰúHt ("to grow, become, come into being, appear"), from the root *bʰuH-. In particular: 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вар ("were"), From Middle English were, weren, from Old English wǣre, wǣron, wǣren, from Proto-Germanic *wēz-, from Proto-Indo-European *h₂wes-.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мa - ("no"), (From Proto-Indo-European) *meh₁ - no.
      Compare Tocharian A/B mā ("not, no"), not a prohibitive particle. According to Martirosyan, if the word originally meant ‘not’ and later obtained the function of the prohibitive, we are dealing with an Armeno-Greek-Albanian-Indo-Iranian grammatical isogloss. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) цер, цера ("Their"), (From Old Norse) þeira - their, Icelandic: þeirra, Faroese: teirra, Norwegian Nynorsk: deira, Old Swedish: þēra, Swedish: deras, Old Danish: theræ,Middle English: þeir
      From Proto-Norse ᚦᚨᛁᛉᛟ (þaiʀo /þaizō/), from Proto-Germanic *þaizǫ̂, genitive plural of *sa ("that"). Cognate with Old English þāra, Old Saxon thero, Gothic 𐌸𐌹𐌶𐌴 (þizē). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) иштта ("like that"), Cognate to Latin iste ("that"), Proto-Albanian *este, Albanian ashtu("so, like that"), Sanskrit अस्तु (astu, "be it so"), and Lepontic 𐌉𐌑𐌏𐌔 (iśos). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) хӀокх ("here"), (From Proto-Italic) *hek(e) ("here"), from Proto-Indo-European *gʰi-ḱe ("this, here"), from *gʰi + *ḱe ("here"). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) кхуз ("here"), (From Latin) cis ("on or to this or the near side of"), From Proto-Indo-European *ḱe ("here"). Cognate with ce-dō, hi-c, ec-ce, Ancient Greek ἐκεῖνος (ekeînos, "that"), Old Irish cē ("here"), Gothic 𐌷𐌹𐌼𐌼𐌰 (himma, "to this"). From Latin cis. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) х1ара ("this"), (From Latin) hōrum ("of these, genitive masculine/neuter plural of hic").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) х1ор ("every, any"), (From Persian) har ("every, each"), from Proto-Iranian *hárwah (compare Avestan 𐬵𐬀𐬎𐬭𐬬𐬀‎ (haurva, “whole, each”)), from Proto-Indo-Iranian *sárwas (“whole, all, entire”) (compare Sanskrit सर्वताति (sarvátāti, “whole”)), from Proto-Indo-European *solh₂-wó-s, from *solh₂- (“whole”) +‎ *-wós.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) нана ("mother"), (From English) Nanny - a childs nurse, Compare Greek νάννα (nánna, "aunt"), nanna).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) дада ("dad"), (From English) Dad ("father"), From Early Modern English dadd, dadde (circa 1500), undoubtedly older, from unrecorded Middle English *dadde, of uncertain ultimate origin.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) нус ("doughter in law"), (From Proto-Indo-European) snusós ("doughter in law").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) стаг ("a man, usualy male"), (From Old Norse ) steggi ("a male animal"), From Proto-Germanic *staggijô, *staggijaz ("male, male deer, porcupine"), probably from Proto-Indo-European *stegʰ-, *stengʰ- ("to sting; rod, blade; sharp, stiff"). Cognate with Icelandic steggi, steggur ("tomcat, male fox").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) майра ("husband, brave"), (From Latin) marītus ("husband, suitor"), from mās ("man, male"), of uncertain origin. Possibly from Proto-Indo-European *méryos ("young man"), same source as Sanskrit मर्य (márya, "suitor, young man").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) маре ("marriage"), (From Middle English) Marien ("to marry"), From Anglo-Norman marïer, from Latin marītāre ("to wed"), from marītus ("husband, suitor"), from mās ("man, male"), of uncertain origin. Possibly from Proto-Indo-European *méryos ("young man"), same source as Sanskrit मर्य (márya, "suitor, young man").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) бер ("child, baby"), (From Proto-Germanic) *barną ("child"), From Proto-Indo-European *bʰer- ("to bear, carry").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) к1ант ("son"), (From Proto-Germanic) *kindą ("child"), From Pre-Germanic *ǵénh₁tom, from Proto-Indo-European *ǵenh₁- (“to bear, give birth”).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) пису ("a kitty"), (From English) pussy ("a kitty"), Probably from Middle Low German pūs, pūskatte or Dutch poes ("puss, cat", slang for "vulva"), ultimately from a common Germanic word for cat.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) моза ("fly"), From (Latin) *musca ("fly"), From a Proto-Indo-European *mus-, *mu-, *mew-.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) стом ("fruit"), (From Old-English) wæstm ("fruit"), 
      From Proto-Germanic *wahstmaz, *wahsmaz, from the root of weaxan. Cognate with Old Saxon wastum.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) хусам ("house"), (From Middle English) hous, hus ("house"), from Old English hūs ("dwelling, shelter, house"), from Proto-West Germanic *hūs, from Proto-Germanic *hūsą (compare Scots hoose, West Frisian hûs, Dutch huis, German Haus, German Low German Huus, Danish hus, Faroese hús, Icelandic hús, Norwegian Bokmål hus, Norwegian Nynorsk hus and Swedish hus), 
      possibly from Proto-Indo-European *(s)kews-, from *(s)kewH- ("to cover, hide").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) де ("day"), From Middle English day, from Old English dæġ ("day"), from Proto-West Germanic *dag, from Proto-Germanic *dagaz ("day"); see there for more.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) суьйре ("evening"), (From French) soirée ("evening"), From Old French soir, from earlier seir, from Latin sērō ("late", adverb), from sērus ("late"), from Proto-Italic *sēros, from Proto-Indo-European *seh₁-. Cognate with Old Irish sír.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) седа ("a star"), (From Latin) sīdus ("a star, a group of stars, the night sky"), Compare Ancient Greek σίδηρος (sídēros, “iron”). Some derive this from Proto-Indo-European *sweyd- (“sweat”), whence Latin sūdor, Ancient Greek ἱδρώς (hidrṓs), English sweat; however there are phonetic problems, most notably the initial /s/ in Greek instead of expected */h/. The origin of both the Latin and Greek words is unknown, but likely substrate and related to Pre-Greek.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) дага ("burn, to burn"), From Proto-Indo-European *dʰegʷʰ ("to burn, warm, hot").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) наб ("dream, sleep"), (From Middle English) nappen, from Old English hnappian ("to doze, slumber, sleep"), from Proto-West Germanic *hnappōn ("to nap"). Cognate with Old High German hnaffezan, hnaffezzan (whence Middle High German nafzen ("to slumber") whence German dialectal napfezen, nafzen ("to nod, slumber, nap")).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) ц1е¹ ("fire"), (From Tocharian B) Tsäk ("to burn up, consume by fire"), From Proto-Tocharian *tsäk-, from Proto-Indo-European *dʰégʷʰeti.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) довхо ("hotness"), (From Proto-Indo-European) dʰewh₂ - ("smoke, mist, haze").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Waynakh mithology) гелла ("god of the sun"), (From Ancient Greec) ἥλῐος • (hḗlios) ("sun, east, sunshine, day"), From Proto-Hellenic *hāwélios, from a pre-Hellenic or later Proto-Indo-European *sāwélios, from Proto-Indo-European *sóh₂wl̥. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Waynakh mithology) 1эл ("hell"), (From Old English) hell ("hell"), From Proto-West Germanic *hallju, from Proto-Germanic *haljō, ultimately from Proto-Indo-European *ḱel- (“to cover, hide, conceal”).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) шийлл ("cold"), (From Old English) ċiele, ċele ("cold; coldness"), from Proto-West Germanic *kali, From Proto-Germanic *kaliz, from Proto-Indo-European *gel- ("to be cold").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) к1ел ("under"), (From Chechen) къайл ("covertly"), (From Chechen) къайлдакх ("to hide something"), (From Proto-Indo-European) *ḱéleti, *ḱél-dʰh₁e-ti ("to hide, to cover"), From Proto-Indo-European root *ḱel ("to cover").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) шуьйра ("width"), (From Chechen) шоралла ("latitude"), (From Chechen) шорта ("abundance"), (From Russian) ширина ("width"), (From Russian) широта ("latitude"). Etymology is unclear.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) гола ("knee, elbow"), (From Latin) angulus ("angle, a corner"), From Proto-Indo-European *h₂engulos (“joint?”). Cognates include Sanskrit अङ्गुरि (aṅgúri, “finger, toe”), Ancient Greek ἀγκύλος (ankúlos, “crooked, curved”), Old High German enchil (“ankle, joint”).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) веха, ваха ("long, high"), (From Middle High German) Wahsen ("to grow, to increase"), From Old High German wahsan, from Proto-Germanic *wahsijaną, ultimately from Proto-Indo-European *h₂weg-.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) латт ("earth, land"), (From Latin) Latium ("A region of central Italy in which the city of Rome was founded and grew to be the capital city of the Roman Empire."). 
      Probably a loanword from an ancient non-Indo-European language, possibly related to Etruscan, but it has also been linked to lātus (“wide”), a reference to the flat land, or latus (“side”), being on the central-west side of the Italian peninsula.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) уьйт1е ("outside"), (From Proto-Germanic) *ūt ("out"); Old English ūte ("outside; without", adverb), from Proto-Germanic *ūtai ("out; outside"); both From Proto-Indo-European *úd ("upwards, away").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) керт ("area, some specific territory"), (From Old English) ġeard ("yard, garden, fence, enclosure"), from Proto-West Germanic *gard, from Proto-Germanic *gardaz ("enclosure, yard"), from Proto-Indo-European *gʰórdʰos, from Proto-Indo-European *gʰerdʰ- ("to enclose")
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) г1ала ("city"), (From Old English) heall ("hall, dwelling, house; palace, temple; law-court"), from Proto-West Germanic *hallu, from Proto-Germanic *hallō ("hall"), from Proto-Indo-European *ḱel- ("to hide, conceal").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) ларо ("to keep, to protect"), (From Latin) lar - household, home, the protective spirit of a place, particularly a household, (Roman mythology) Lares, the classical Roman gods of a place, particularly homes; household deity
      Probably from Etruscan 𐌋𐌀𐌓 (lar), 𐌋𐌀𐌓𐌔 (lars), or 𐌋𐌀𐌓𐌈 (larθ, "lord"), though it could possibly be from Proto-Indo-European *las- ("eager"), cognate with lascivus.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) тосса, тасса ("to sow"), (From English) toss ("a throw"), From Middle English tossen ("to buffet about, agitate, toss; to sift or winnow"), of uncertain origin. Perhaps from Old Norse (compare dialectal Norwegian tossa, dialectal Swedish tossa ("to strew, spread")), or perhaps from an alteration of Middle English tosen ("to tease, pull apart, shred; to wound, injure").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) кхосса ("to throw"), (From English) cast ("to throw"), From Middle English casten, from Old Norse kasta ("to throw, cast, overturn"), from Proto-Germanic *kastōną ("to throw, cast"), of unknown origin.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) бетта ("to beat"), (From Middle English) beten, from Old English bēatan ("to beat, pound, strike, lash, dash, thrust, hurt, injure"), from Proto-West Germanic *bautan, from Proto-Germanic *bautaną ("to push, strike"), from Proto-Indo-European *bʰewd- ("to hit, strike").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) детта ("to milk"), (From Proto-Slavic) dojìti ("to milk"), From Proto-Indo-Aryan *dʰáyati, from Proto-Indo-Iranian *dʰáyati, from Proto-Indo-European *dʰéh₁(y)-e-ti, from *dʰeh₁(y)- ("to suckle, nurse"). 
      Cognate with Latin fellō, Old Church Slavonic доити (doiti), Gothic 𐌳𐌰𐌳𐌳𐌾𐌰𐌽 (daddjan, "suckle"), Ancient Greek θηλή (thēlḗ), Old Armenian դիեմ (diem).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) хье ("brain"), (From English) head ("the part of the body of an animal or human which contains the brain, mouth and main sense organs"), From Middle English hed, heed, heved, heaved, from Old English hēafd-, hēafod ("head; top; source, origin; chief, leader; capital"), from Proto-West Germanic *haubud, from Proto-Germanic *haubudą ("head"), from Proto-Indo-European *káput-. 
      The modern word comes from Old English oblique stem hēafd-, the expected Modern English outcome for hēafod would be *heaved (similar to the Middle English word), with irregular pronunciation of /ˈheɪvd/. Doublet of caput, cape, chef and chief.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) чанг ("chin"), (From English) chin ("the bottom of a face, (specifically) the typically jutting jawline below the mouth"), From Middle English chyn, from Old English ċinn ("chin"), from Proto-Germanic *kinnuz ("chin"), from Proto-Indo-European *ǵénus ("chin, jaw"). Compare West Frisian/Dutch kin, Low German/German Kinn, Danish kind, Icelandic kinn, Welsh gen, Latin gena, 
      Tocharian A śanwem, Ancient Greek γένυς (génus, "jaw"), Armenian ծնոտ (cnot), Persian چانه  (čâne), Sanskrit हनु (hánu). Doublet of gena.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) верза ("to turn around, to rotate"), (From Latin) versura ("to turn around"), From Proto-Italic *wertō, from Proto-Indo-European *wértti.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вортал ("a neck"), (From Latin) versura ("to turn around"), From Proto-Italic *wertō, from Proto-Indo-European *wértti.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) пелг ("finger"), Maybe From Ancient Greek φαλλός (phallós, "membrum virile, phallus, or a figure thereof"), likely ultimately from Proto-Indo-European *bʰel- ("to blow, swell up");
      Or maybe from Latin pāla ("shovel, spade"), From Proto-Italic *pākslā, from Proto-Indo-European *pak-slo-, from root *peh₂ǵ-.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) бел ("shovel, spade"), (From French) pelle ("shovel, spade"), From Latin pāla ("shovel, spade"), From Proto-Italic *pākslā, from Proto-Indo-European *pak-slo-, from root *peh₂ǵ-.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) балд ("lip"), Quite posibly from Proto-Indo-European *bew, *bʰew- ("to swell, puff"), whose initial b- would point to a substrate or imitative origin.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) бага ("mouth, say"), (From Lattin) bucca ("mouth"). Uncertain. Celtic origin is suspected due to similarity with beccus ("beak"), names like Gaulish Buccus, Buccō, Bucciō as well as the appearance of words bocca and boca (of unknown meaning) on the Larzac tablet. IEW compares it with Proto-Germanic *pukkô ("bag, pouch"), from Proto-Indo-European *bew, *bʰew- ("to swell, puff"), whose initial b- would point to a substrate or imitative origin. Compare also English puke, German fauchen.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) хьахо ("to mention"), хьехам ("lection"), From Proto-Indo-European *h₁óh₃s, *h₁éh₃s ("mouth"),
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) аз ("voise"), (From Lattin) os ("mouth"), From Proto-Italic *ōs, from Proto-Indo-European *h₃éh₁os. Cognates include Hittite 𒀀𒄿𒅖 (aiš), Sanskrit आस् (ās), Old Irish á, Old English ōr.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) ал, алла ("to tell, to say"), (From Chechen) эллар ("he or she or that said something"), From Middle English tellen ("to count, tell"), from Old English tellan ("to count, tell"), from Proto-Germanic *taljaną, *talzijaną ("to count, enumerate"), from Proto-Germanic *talą, *talǭ ("number, counting"), from Proto-Indo-European *dol- ("calculation, fraud"). 
      Cognate with Saterland Frisian tälle ("to say; tell"), West Frisian telle ("to count"), West Frisian fertelle ("to tell, narrate"), 
      Dutch tellen ("to count"), Low German tellen ("to count"), German zählen, Faroese telja.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) пал ("words supposed to have magical powers"), (From English) spell ("words or a formula supposed to have magical powers"), From Middle English spell, spel, from Old English spell ("news, story"), from Proto-Germanic *spellą ("speech, account, tale"), from Proto-Indo-European *spel- ("to tell") or from Proto-Indo-European *bʰel- ("to speak, to sound") with the s-mobile prefix. Cognate with dialectal German Spill, Icelandic spjall ("discussion, talk"), spjalla ("to discuss, to talk"), guðspjall ("gospel") and Albanian fjalë ("word").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) век ("to say, to speak"), From Proto-Indo-European *wekʷ ("to speak, to sound out").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) дийца ("to tell, to talk"), (From Latin) diccere ("I say, utter; mention; talk, speak"), From Proto-Italic *deikō, from Proto-Indo-European *déyḱti (“to show, point out”) (reformed as a thematic verb). The perfect forms are derived from Proto-Indo-European *dḗyḱst. Cognates include Oscan 𐌃𐌄𐌝𐌊𐌖𐌌 (deíkum, “to show, point out”), Sanskrit दिशति (diśáti), Ancient Greek δείκνυμι (deíknumi) and Old English tǣċan (English teach).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) лекха ("to sing, to make musical noises"), (From Latin) loquor ("i say, speak, tell, talk"), From Proto-Italic *tlokʷōr, from Proto-Indo-European *telkʷ-
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мотт ("language, tongue"), (From French) mot ("word"), From Late Latin muttum (“sound”), from muttīre (“mutter, make a mu-noise”), of onomatopoeic origin. Has almost entirely replaced parole in Modern French, perhaps because of its brevity. Compare Catalan mot.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) гира ("persons back"), usualy used as a (From Chechen) Гирахь ("on the back"), (From Latin) gero ("i carry, bear"), From Proto-Italic *gezō and cognate with Faliscan 𐌊𐌄𐌔𐌄𐌕 (keset). According to De Vaan,[1] from a post-PIE *h₂ǵ-es-, an extension of the Proto-Indo-European root *h₂eǵ- (from which agō); compare Proto-Germanic *kas- ("to bring up; throw").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) кер ("in hands"), (From Chechen) Кара ("glowe"), (From Chechen) Каро ("to find"), (From English) to carry ("to stock or supply (something)"); to have in store, to lift (something) and take it to another place.From Middle English carrien, from Anglo-Norman carier (modern French charrier); from a derivative of Latin carrus ("four-wheeled baggage wagon"), ultimately of Gaulish origin.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) дига ("to lead"), (From Latin) duco ("to lead, to draw, conduct"), From Proto-Italic *doukō, from Proto-Indo-European *déwkti, from the root *dewk-. Cognate with English tow.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вига ("to bring someone somewhere with you"), From Proto-Indo-European *wéǵʰeti ("to be transporting"), from *weǵʰ-("to bring, transport").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) ваха ("to move somewhere, to go somewhere"), (From Latin) veho ("convey, transport"), From Proto-Indo-European *wéǵʰeti ("to be transporting"), from *weǵʰ-("to bring, transport").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вах ("to live"), From (Proto-Indo-Iranian) *Hwas - to dwell, remain, From Proto-Indo-European *h₂wes-. Compare Sanskrit वस् (vas).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) ван ("to appear, to come, to arrive"), (From Latin) vēnī ("to come"), From Proto-Italic *gʷenjō, from Proto-Indo-European *gʷm̥yéti, from zero-grade of *gʷem- + *‑yéti. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) хаза² ("hear, to hear"), (From Chechen) хезана ("heard"), (From Proto-Germanic) hauzijaną - ("to hear"), From Proto-Indo-European *h₂ḱh₂owsyéti ("to be sharp-eared"), from *h₂eḱ- ("sharp") + *h₂ows- ("ear") + *-yéti (denominative suffix).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) кхерар ("fear, to fear"), (From Chechen) кхерина ("someone scared someone"), (From Proto-Germanic) *skirzijaną ("to shoo, scare off"), from Proto-Indo-European *(s)ker- ("to swing, jump, move"). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) текхо ("drag, tug"), From Middle English tuggen, toggen, from Old English togian ("to draw, drag"), from Proto-West Germanic *togōn, from Proto-Germanic *tugōną ("to draw, tear"), from Proto-Indo-European *dewk- ("to pull").
      Or (from Proto-Indo-European) *tekʷ - to run, to flow.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) лаза ("pain, to feel pain"), (From Chechen) Лазар ("disease"), (From Latin) laesus ("hurt, injured, wounded,damaged, quotations, offended, thwarted, betrayed"). Perfect passive participle of (From Latin) laedō.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) ледар ("fraud, betray, lie"), (From Chechen) Ледара ("negligent, betrayer, liar"), (From Latin) laedō ("i betray, i lie, i offend, i hurt"), From Proto-Indo-European *slaid-, *sled-, a root common to Proto-Germanic *slītaną ("to tear apart"). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) леттō ("to tear apart"), (From Chechen) Леттина ("someone tore something appart"), (From Proto-Germanic) *slītaną ("to tear apart"), From Proto-Indo-European *sleyd- ("to rend, injure, crumble").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) лēта, лата ("to fight"), (From Chechen) Латар ("fight"), (From Italian) Lottare ("to fight, to spar, to struggle"), From Vulgar Latin luctāre, from Latin luctārī ("to struggle"), from *lewg- ("to bend, twist").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) каст ("caste"), (From Latin) castus ("morally pure, guiltless in a religious context: religious, pious, holy, sacred").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) тэйп ("type"), (From Ancient Greek) τῠ́πος (túpos, "mark", "impression", "type"), from τῠ́πτω (túptō, "I strike, beat").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) во ("something bad, trouble, curse, a misfortune causing such sadness"), (From english) Woe ("great sadness or distress; a misfortune causing such sadness"). From Middle English wo, wei, wa, from Old English wā, wǣ, from Proto-West Germanic *wai, from Proto-Germanic *wai (interjection), ultimately from Proto-Indo-European *wáy (interjection).
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) оувэй, вэй ("exclamation after surprise or something unexpected"), (From Latin) οὐαί (ouaí) - (exclamation of pain and anger) ah, woe. Traditionally compared with the set Latin vae, Gothic 𐍅𐌰𐌹 (wai), etc., from Proto-Indo-European *wai, but it is not derivable from there through regular sound laws. Beekes argues for a Semitic loanword; compare e.g. Hebrew אוֹי  (oy). Ultimately expressive.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) де ("to kill"), From Proto-Indo-European *dʰew ("to die, pass away").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вел ("the dead"), (From Proto-Germanic) *walaz ("corpse, body, battlefield"),
      Cognate with Old English wæl, Old Saxon wal, Old High German wal. Ultimately from Proto-Indo-European *welh₃- ("wound, injure").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вялла, веллар ("finished, done with something"), (From Proto-Germanic) *walaz ("corpse, body, battlefield"),
      Cognate with Old English wæl, Old Saxon wal, Old High German wal. Ultimately from Proto-Indo-European *welh₃- ("wound, injure").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) велх ("to cry"). Perhaps from Proto-Indo-European *welh₃- ("wound, injure").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) вашо ("to wash"), (From English) wash ("to clean with water"),
      From Middle English wasshen, waschen, weschen, from Old English wasċan, from Proto-West Germanic *waskan, 
      from Proto-Germanic *waskaną, *watskaną ("to wash, get wet"), from Proto-Indo-European *wed- ("wet; water").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) пурб ("Permission"), (From Latin) Per ("through, along; during") +  mittō ("let go, release; send out; throw").
      From MiddleEnglish permision, permission, permissioun, permyssion, from Middle French permission, from Latin permissiō.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) к1амба ("to scrarch, to scratch scratch your body when it itches"),
      (From Proto-Germanic) *kambaz ("comb"), from Proto-Indo-European *ǵómbʰos ("tooth").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мах² ("price, quality, measure"), (From Proto-Indo-European) Meh ("to measure"). 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мел? ("how much?"), (From Proto-Germanic) mela ("measure, measurement").
      From Proto-Indo-European *meh₁lom, from the root *meh₁- ("to measure"). Compare Latin semel. 
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мас? ("how much?"), (From Old-Norse) mats ("measure, measurement").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мацвелла ("some one got hungry"), (From Chechen) мацалла ("hunger, or literaly want of маца"), 
      (From Gothic) mats ("food"), From Proto-Germanic *matiz. Cognate with English meat, Danish mad, and Swedish mat.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) бокх ("big"), (From English) big ("of great size, large").
      Inherited from Northern Middle English big, bigge ("powerful, strong"), possibly from a dialect of Old Norse. 
      Ultimately perhaps a derivative of Proto-Germanic *bugja- ("swollen up, thick"), from Proto-Indo-European *bʰew-, *bu- ("to swell"),[1] in which case big would be related to bogey, bugbear, and bug.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) гали ("very old waynakh measure of bulk materials"), From (Late Latin) galum, galus ("measure of wine"), 
      from Vulgar Latin *galla ("vessel"), possibly from Gaulish, ultimately from Proto-Indo-European *kel- ("goblet").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) лакъа ("run out, lack"), From Middle Low German lak, Middle Dutch lac ("deficiency") and Middle Dutch laken ("blame, lack"); all ultimately from Proto-Germanic *laka-, related to *lak(k)ōn- ("to blame, reproach"), from Proto-Indo-European *lok-néh₂-. See also Dutch lak ("calumny"), Old Norse lakr ("lacking").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) доза ("limit, dose"), From Middle French dose, from Late Latin dosis, from Ancient Greek δόσις (dósis, "a portion prescribed", literally "a giving"), used by Galen and other Greek physicians to mean an amount of medicine, from δίδωμι (dídōmi, "to give"). Doublet of doos.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) юккъ ("center, in the middle of something"), ("Yok") is one of the most archaic and productive terms in Indo-European, present from prehistorical times in all the branches of the family, could be one of the keys for unlocking the enigma of the original cradle of the Indo-Europeans. "Yoke" appears to be one of the linguistic proofs that the ancestors of today‘s Europeans, Iranians and Indians spread out from a region in the vicinity of the Caucasus, and that the Proto-Indo-Europeans were in direct contact with both South Caucasians and North Caucasians.
      The term is of vast antiquity and presents a remarkably regular form:
      Hittite iúkan, Vedic Sanskrit युग (yugá, meaning yoke, but also: pair; yoga comes from the same root), Ancient Greek ζυγόν (zugόn), 
      Latin iugum, Gothic juk (German Joch), Old Church Slavonic igo, Lithuanian jungas, etc. 
      So enduring was this root that it remains productive to our days in the sense of (re)uniting something, as under a "yoke", 
      into a "junc-tion"… that when the modern Lithuanian language had to invent the notion of a political "Union", as in the European Union, it used the old jug-/jung–.
      Gamkrelidze and Ivanov, in their groundbreaking The Indo-European language and the Indo-Europeans (Индоевропейский язык и индоевропейцы, Tbilisi, 1984) have convincingly reorganised the traditionally accepted phonetic system of the Proto-Indo-European by giving the voiced consonants (b, g, d) the value of the Caucasian ejectives,
      which are unvoiced gutturals (p‘, t‘, q‘, this last sounding like the Semitic q). From this perspective, the famous law of the German "Lautvershiebung", whereby the Indo-European voiced sounds become un-voiced in German (cf. Latin iug-um – Gothic juk) loses its relevance: it is Germanic (and Armenian) which prove to be more archaic, closer to the pan-Caucasian sound system, while the other branches of the I-E family have innovated by voicing the q‘ into g. The root would thus be: *juq‘ -, and not *jug-, as accepted historically.
      From Indo-European, the term has passed, in its voiced form, as an archaic loan into the South-Caucasian (Kartvelian) languages: Georgian uγel, Mingrelian uγu, Svan uγwa.
      The Indo-european etymologies proposed traditionally are unconvincing and circular, like: "from verb *yeug– (join, unite)". It is here that a comparison, never effectuated, with the North-East Caucasian languages, totally unrelated to the South Caucasian Kartvelian languages, brings a possible solution.
      Chechen, and all the languages from Daghestan, present a rare particularity: they are "class languages". All words are distributed between various nominal classes corresponding to our grammatical genders. Where Indo-European languages have historically three grammatical genders, Chechen has six. These are indicated by a set of four markers appended initially to words: v- indicates masculinity, like in: vasha = brother; y- indicates a female person, like in yisha = sister,
      but it can also be the mark of some neuters, alternating with b- and d- to produce various notions. The set of v-, y-, b-, d- initial markers are also appended to verbs and adjectives, which change their beginning according to the gender of the ruling noun.
      This creates a heavy but predictable grammatical machinery, and also an easily analysable lexical corpus. Thus, from the root –q‘-, "to divide" / "to reunite", Chechen possesses the set vuq‘, yuq‘, buq‘, duq‘ : thus, duq‘ and vuq‘ commonly indicate the yoke; yuq‘ is the "middle", or a "pair"… buq‘ is the spine, the backbone, or a mountain ridge…
      The Chechen series is extremely productive, yuq‘ being the most used, and, besides various verbs with meanings going from "reunite" to "put together" and "put in the middle" (cf. Latin derivatives, from jugum > con-jugare, sub-jugare, etc., or Sanskrit yoga, from the same root), yuq‘ can also take on temporal values: Chechen yuq‘-yuq‘a = from time to time, periodically (cf. Sanskrit yugá, "period of time", in parallel with "yoke"); 
      And, very important from a socio-cultural point of view, to get married, to "go under the same yoke": hence the Latin con-iux, spouse, (under the same con-jug-al yoke), the notion being borrowed as well into Old Georgian: me-uγle = spouse.
      The morphological and semantical concordances between Chechen yuq‘ (and the other Daghestani languages) on the one hand, Indo-European *yuq‘ on the other are too systematical, coherent and symmetrical to be due to mere chance. The disturbing fact is that the root *yuq‘- is unexplained in Indo-European, while in Chechen-Daghestani it is native, part of the system of indicators of nominal classes y-, v-, b-, d-…
      The word seems thus to have been borrowed by the Indo-Europeans from the North-Caucasians… together with the tool it designated : the "yoke" itself.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) букъ ("back like back of the person or like my back"), From Middle English bak, from Old English bæc, from Proto-West Germanic *bak, from Proto-Germanic *baką,
      possibly from Proto-Indo-European *bʰogo (literally "bending"). The adverb represents an aphetic form of aback.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) юххе ("nearly, close to, closely"), (From Latin) iū̆xtā ("nearly, closely, close to,"), Etymologie is unclear, but reflects an earlier ablative form. from Proto-Italic *jougestos (“yoked”), from *jougos (“team of yoke animals”) (whence Latin iūgera pl), from Proto-Indo-European *(H)yewg-es-, from *(H)yewg- (“join together”); from Proto-Italic *jugistos (“closest”), equivalent to *(H)yug- +‎ *-istHos (“superlative suffix”); however, this suffix is otherwise not found in Latin.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) васт ("look, image of the person"), From (Proto-Indo-European) h₂wes ("to dress, clothe").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) тэй ("thread, strand"), (From Chechen) тега ("to sew"), From (English) tie ("knot, fastening"),
      From (English) tailor ("a person who makes, repairs, or alters clothes professionally, especially suits and men's clothing."),
      From Middle English teye ("cord, chain"), from Old English tēag, tēah ("cord, chain"), from Proto-West Germanic *taugu, 
      from Proto-Germanic *taugō, ultimately from Proto-Indo-European *dewk-. Compare Danish tov, Icelandic taug.
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) мод ("mud, dirt"), (From English) mud ("dirt"), Probably a borrowing from Middle Dutch mod, modde or Middle Low German mudde, 
      ultimately from Proto-Germanic *mud-, *mudra- ("mud"), perhaps from Proto-Indo-European *mū-, *mew- ("moist"). 
      Cognate with Saterland Frisian Mudde ("mud"), Middle High German mot ("mud"), Swedish modd ("slush").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) дара ("to tear, to tear appart, to split appart"), From Proto-Indo-European *der- ("to tear, tear apart").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
      (From Chechen) дардала ("embittered, sad"), (From Proto-Germanic) turnaz ("bitter, embittered"), From Proto-Indo-European *dr̥-nós, from Proto-Indo-European *der- ("to flay, split").
      </p> 
      <p class="lexopedia__link" style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);"> 
      (From Chechen) дерт ("deffect of something"), From  (English) dirt - filth and etc.
      From Middle English drit ("excrement"), from Old Norse drit ("excrement"), from Proto-Germanic *dritą, *dritō ("excrement"), 
      from Proto-Indo-European *dʰreyd-, *treydʰ- ("to have diarrhea"). Cognate with Norwegian dritt ("excrement"), 
      Icelandic drit ("bird excrement"), Dutch drijten ("to defecate"), drits ("dirt, mud, filth") and drijt, dreet ("excrement"), 
      Low German drieten ("to defecate"), Driet ("shit"), regional German Driss ("shit"), Old English ġedrītan ("to defecate"), Albanian ndyrë ("dirty, filthy").
      </p> 
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
    </main>
    <footer class="lexopedia-footer">
        <section class="lexopedia-footer--container">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-3"><a href="/">Home</a></div>
                </div>
            </div>
        </section>
    </footer>
    <script defer src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    
</body>
<script>
  function validateForm() {
    var gloss = document.forms["myForm"]["gloss"].value;
    if (gloss.length < 2 || gloss.indexOf(" ") !== -1) {
      alert("Please enter meainig with at least two characters and without spaces.");
      return false;
    }
    // show progress bar
    var progressbar = document.querySelector('#progressbar');
    
    // Update progress bar as page loads
    window.addEventListener("load", function() {
      // When the page is fully loaded, hide the progress bar
      progressbar.classList.remove('active');
    });
    
    // When the page is loading, update progress bar width
    window.addEventListener("beforeunload", function() {
      progressbar.classList.add('active');
    });

    return true;
  }
</script>
</html>