<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#001736">
    <meta name="msapplication-navbutton-color" content="#001736">
    <meta name="apple-mobile-web-app-status-bar-style" content="purple">
    <meta name="description" content="Find words with the same spelling in different languages. Enter a spelling and discover its translation in various languages.">
    <meta name="keywords" content="words, spelling, meainig, spelling translation, languages, find words, find meaning, find translation, lexopedia">
    <meta name="author" content="cheplagsh">
    <title>Lexopedia - Patrons</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='readable.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="{{ url_for('static', filename='lexopedia_header.css') }}" rel="stylesheet">
    <script defer src="{{ url_for('static', filename='lexopedia_header.js')}}"></script>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lexopedia-icon.svg')}}" rel="icon" type="image/svg+xml">
    <link href="/favicon.ico" rel="alternate icon" type="image/x-icon">
</head>
<body>
    <div class="lexopedia-header">
      <a href="/">
          <img src="{{ url_for('static', filename='lexopedia-icon.png') }}" alt="LexopediaLogo" >
        </a>
      <a href="/">
        <img src="{{ url_for('static', filename='lexopedia-logo.png') }}" alt="LexopediaLogo" >
      </a>
      <div class="lexopedia-header-search-bar">
        <input class="lexopedia-header-search-bar-input" type="text" id="lexopedia-header-search-bar-input" placeholder="Search on Lexopedia..." minlength="2" maxlength="14" autocomplete="off">
        <div class="lexopedia-header-search-bar-button-container">
          <div class="lexopedia-header-search-bar-button">
            <p style="margin-top: 2;">Search "searchTerm" for meaning matches...</p>
          </div>
          <div class="lexopedia-header-search-bar-button">
            <p style="margin-top: 2;">Search "searchTerm" for spelling matches...</p>
          </div>
        </div>
      </div>
    </div>
    <div id="progressbar">
        <div></div>
    </div>
    <main style="margin-top: 16px;">
      <p style="color: hsla(0, 0%, 100%, 50%)"></p>
        {% if patrons %}
         <p style="font-size: 1.66em; color: hsla(0, 0%, 100%, 70%);">
            Thank you guys for all the support!
          </p>
          <ul>
            {% for patron in patrons %}
            <p style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
              <i><a href="https://www.buymeacoffee.com/{{ patron.name }}" class="lexopedia__link" style="font-size: larger;">{{ patron.name }}</a></i> 
            </p>
            {% endfor %}
          </ul>
        {% else %}
        <p style="font-size: 1.66em; color: hsla(0, 0%, 100%, 70%);">
        No Patrons Yet...
        </p>
        <p style="font-size: 1.33em; color: hsla(0, 0%, 100%, 50%);">
          Lexopedia is a non-profit project and if you enjoy using it, please consider donating to our cause at <i><a href="https://www.buymeacoffee.com/lexopedia"
          class="lexopedia__link" style="font-size: larger;">bmc@lexopedia</a></i> 
        </p>
        {% endif %}

      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
    </main>
    <footer class="lexopedia-footer">
      <section class="lexopedia-footer--container">
          <div class="mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell--span-3"><a href="/">Home</a></div>
              </div>
          </div>
      </section>
    </footer>
    <script defer src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    
</body>
</html>